.auth {
  width: 396px;
  padding: 70px 0;
  margin: 0 auto;
}

.auth__title {
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  margin: 0;
  padding: 40px 0;
}

.auth__subtitle {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #8b8b8b;
  margin: 16px auto 0;
}

.auth__link {
  color: #4285f4;
  text-decoration: none;
  padding-left: 6px;
  cursor: pointer;
}

.auth__link:hover {
  transition: opacity 0.5s linear;
  opacity: 0.5;
}

@media screen and (max-width: 768px) {
  .auth {    
    padding: 231px 0 30px;    
  }

}

@media screen and (max-width: 430px) {
  .auth {
    display: flex;
    flex-direction: column;
    width: 260px;
    padding: 56px 0 30px;
    align-items: center;
  }

  .auth__title {
    padding: 50px 0 80px;
  }

  .auth__subtitle {
    font-size: 12px;
    line-height: 15px;
    margin-top: 14px;
  }

  .auth__link {
    padding-left: 7px;
  }
}
