@import url(./vendor/normalize.css);
@import url(./vendor/fonts/fonts.css);

body {
  font-family: 'Inter', 'Arial', 'Helvetica', sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
  /* box-sizing: border-box; */
  height: 100vh;
  width: 100%;
  background: #202020;
  margin: 0 auto;
  color: #ffffff;
}
